<ng-template [ngIf]="!isSuccess">
  <div *ngIf="!isLoading" class="flex justify-end items-center">
    <mat-icon (click)="closeDialog()" class="material-symbols-rounded text-3xl -mt-3">close
    </mat-icon>
  </div>
  <div class="relative sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-left text-lg font-extrabold text-gray-800">
      {{projectObj?.title ? projectObj.title : 'Neues Projekt'}}
    </h2>
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
      <span class="text-3xl">🧑‍💻</span>
    </div>
  </div>
  <div class="sm:mx-auto w-80">
    <div class="bg-white py-4">
      <form class="space-y-6" [formGroup]="projectForm" (ngSubmit)="onSend()">
        <div>
          <label for="title" class="sr-only text-sm font-medium text-gray-700">Dein Projekttitel</label>
          <div class=" relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
              <span class="text-xl">✍️</span>
            </div>
            <input formControlName="title" type="text" name="title" id="title"
                   [disabled]="isLoading"
                   [ngClass]="f.title.invalid &&  f.title.touched ? 'border-red-300 text-red-900  focus:outline-none focus:ring-red-500 focus:border-red-500' : 'focus:ring-amber-500 focus:border-amber-500 border-gray-300'"
                   class="disabled:opacity-70 focus:ring-amber-500 focus:border-amber-500 block w-full pl-3 sm:text-sm border-gray-300 rounded-md"
                   placeholder="Dein Projekttitel">
          </div>
          <p *ngIf="f.title.invalid &&  f.title.touched && !f.title.hasError('exists')" class="mt-1 text-xs text-red-600" id="name-error">Bitte gib
            einen
            Title für dein Projekt ein.</p>
          <p *ngIf="f.title.hasError('exists')" class="mt-1 text-xs text-red-600">
            {{this.projectForm.get('title').getError('exists')}}</p>
        </div>


        <div class="flex flex-col items-stretch justify-between space-y-4">
          <div>
            <button mat-ripple type="submit"
                    [disabled]="isLoading"
                    class="disabled:opacity-50 disabled:cursor-not-allowed w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-amber-600 hover:bg-amber-700 focus:outline-none ">
              <span *ngIf="!isLoading">Erstellen</span>
              <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="isSuccess">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div
    class="inline-block align-bottom   px-4 pt-5 pb-4 text-left   transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
    <div>
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
        <!-- Heroicon name: outline/check -->
        <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
        </svg>
      </div>
      <div class="mt-3 text-center sm:mt-5">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
          Schön, dich an Board zu haben. <span class="text-2xl">✌️️</span>
        </h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500">
            Du erhältst in Kürze deinen Zugangslink zu deinem Projekt.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-5 sm:mt-6">
      <button type="button"
              mat-ripple
              matDialogClose
              class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-amber-600 text-base font-medium text-white hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500 sm:text-sm">
        Schließen
      </button>
    </div>
  </div>
</ng-template>


