<form>
  <!--  TODO finish edit form -->
  <div class="shadow overflow-hidden sm:rounded-md bg-gray-100">
    <div class="px-4 py-5 bg-white sm:p-6">
      <form class="grid grid-cols-6  gap-6" [formGroup]="userForm" >

        <div class="col-span-3 ">
          <div>
            <label for="first-name" class="block text-sm font-medium text-gray-700">Vorname und Nachname</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <div class="relative flex items-stretch flex-grow focus-within:z-10">
                <input formControlName="displayName"
                       type="text" name="first-name"
                       id="first-name"
                       [ngClass]="userForm.get('displayName')?.disabled ? 'font-semibold':''"
                       class="disabled:text-gray-500 focus:ring-amber-500 focus:border-amber-500 block w-full rounded-none rounded-l-md  sm:text-sm border-gray-300">
              </div>
              <button (click)="toggleEdit('displayName')" type="button"
                      [ngClass]="userForm.get('displayName')?.disabled ? 'bg-amber-500 hover:bg-amber-600 ':'bg-gray-50 hover:bg-gray-100'"
                      class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700   focus:outline-none ">
                <svg *ngIf="userForm.get('displayName')?.disabled" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
                <svg *ngIf="!userForm.get('displayName')?.disabled" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
              </button>
            </div>
          </div>

        </div>


        <div class="col-span-3 ">
          <div>
            <label for="phone" class="block text-sm font-medium text-gray-700 ">Mobilfunknummer</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <div class="relative flex items-stretch flex-grow focus-within:z-10">
                <input formControlName="phoneNumber" type="tel" name="phone" id="phone"
                       [ngClass]="userForm.get('displayName')?.disabled ? 'font-semibold':''"
                       class="focus:ring-amber-500 focus:border-amber-500 block w-full rounded-none rounded-l-md  sm:text-sm border-gray-300">
              </div>
              <button (click)="toggleEdit('phone')" type="button"
                      [ngClass]="isEditMode === 'phone' ? 'bg-amber-500 hover:bg-amber-600':'bg-gray-50 hover:bg-gray-100'"
                      class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700  hover:bg-gray-100 focus:outline-none ">
                <svg *ngIf="isEditMode !== 'phone'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
                <svg *ngIf="isEditMode === 'phone'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="col-span-3 relative ">
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">E-Mail Adresse</label>
            <div class="mt-1 flex rounded-md shadow-sm">
              <div class="relative flex items-stretch flex-grow focus-within:z-10">
                <input formControlName="email"
                       type="email" name="email" id="email"
                       [ngClass]="isEditMode === 'email' ? 'font-semibold':''"
                       class="disabled:text-gray-500 focus:ring-amber-500 focus:border-amber-500 block w-full rounded-none rounded-l-md  sm:text-sm border-gray-300">
              </div>
              <button (click)="toggleEdit('email')" type="button"
                      [ngClass]="isEditMode === 'email' ? 'bg-amber-500 hover:bg-amber-600':'bg-gray-50 hover:bg-gray-100'"
                      class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700  hover:bg-gray-100 focus:outline-none">
                <svg *ngIf="isEditMode !== 'email'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
                </svg>
                <svg *ngIf="isEditMode === 'email'" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="col-span-3 flex items-end">
          <div>
            <button *ngIf="!isSuccess" (click)="onResetPassword()"
                    class="w-52 justify-center inline-flex items-center px-4 py-2 border border-transparent text-sm font-semibold rounded-md shadow-sm text-white bg-amber-500 hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500"
                    type="button">
              <ng-template [ngIf]="!isLoading"> Passwort zurücksetzen</ng-template>
              <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
            </button>
            <div *ngIf="isSuccess" (click)="onResetPassword()"
                 class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-green-800 bg-green-300">
              <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
              </svg>
              Wir haben dir eine E-Mail mit einem Reset Link zugeschickt.
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</form>


