<!-- This example requires Tailwind CSS v2.0+ -->
<!-- This example requires Tailwind CSS v2.0+ -->

<div class="-ml-4 -mt-4 mb-8 flex justify-center items-center flex-wrap sm:flex-nowrap">
  <div class="ml-4 mt-4 text-center">
    <h3 class="text-2xl leading-6 font-semibold text-gray-900">Meilenstein freigeben</h3>
    <p class="mt-1 text-sm text-gray-500">Ab hier beginnen wir mit der eigentlichen Umsetzung. <br>
      Die geplanten Aufgaben verschieben wir nach und nach in die Spalte "In Bearbeitung" und anschließend in
      "Erledigt".</p>
  </div>
</div>
<div class="grid  grid-cols-2 divide-x">
  <div class="flow-root flex-1  p-8 pl-0">
    <ul role="list" class="-mb-8">
      <li class="h-24" *ngFor="let milestone of milestones; let i = index">
        <div class="relative ">
          <span *ngIf="milestones.length-1 !== i" class="absolute top-14 left-4 -ml-px h-full w-0.5 bg-gray-200"
                aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div class="flex items-center">
              <span class="h-8 w-8 flex items-center justify-center ring-8 ring-white">
                <span [ngClass]="milestone.id === board.milestoneID ?  board.icon_classes : 'bg-gray-100 text-gray-400'"
                      class="rounded-lg inline-flex p-3  ring-4 ring-white">
                  <mat-icon class="material-icons-round">
                    {{milestone.icon}}
                  </mat-icon>
                </span>
              </span>
            </div>
            <div
              [ngClass]="milestone.id === board.milestoneID ?  'text-gray-900' : 'text-gray-400'"
              class="min-w-0 flex-1 flex justify-between space-x-4  px-2 py-4 ">
              <div>
                <p class="text-base font-semibold ">{{milestone.label}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex-1 p-8 pr-0  justify-center">
    <div class="flex justify-center">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </div>

</div>
