<div class="bg-gray-100 rounded-lg shadow px-5 py-6 sm:px-6">
  <div class=" rounded-lg min-h-[24rem]">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <!-- This example requires Tailwind CSS v2.0+ -->
    <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 ">
      <li *ngFor="let project of projects | async"
          class="col-span-1 min-h-[10rem] bg-gradient-to-br from-amber-600 via-amber-500 to-amber-300 rounded-md shadow divide-y divide-gray-200">
        <div class="relative h-full w-full">
          <button type="button"
                  (click)="goToProject(project)"
                  mat-ripple
                  class="relative flex items-start w-full h-full p-4 text-left focus:outline-none ">
            <div class="flex justify-between items-center w-full">
              <span class="block text-xl font-semibold text-white">{{project.title}}</span>
            </div>
          </button>
        </div>

      </li>
      <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
        <button type="button"
                mat-ripple
                (click)="openDialog()"
                class="relative block w-full h-full rounded-lg p-12 text-center focus:outline-none ">

          <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"/>
          </svg>
          <span class="mt-2 block text-sm font-medium text-gray-900">Neues Projekt erstellen</span>
        </button>

      </li>
    </ul>


  </div>
</div>


