<div>
  <main class="relative -mt-32">
    <div class="mx-auto">
      <div class="bg-white rounded-lg shadow overflow-hidden">
        <div class="min-h-screen divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
          <aside class="py-6 lg:col-span-2">
            <nav class="space-y-1">
              <a *ngFor="let navLink of navLinks" [routerLink]="navLink.route"
                 #rla="routerLinkActive"
                 routerLinkActive
                 [ngClass]="rla.isActive ? 'bg-amber-50 border-amber-500 border-amber-500 text-amber-700 hover:bg-amber-50 hover:text-amber-700' : 'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900'"
                 class=" group border-l-4 px-3 py-2 flex items-center text-sm font-medium"
                 aria-current="page">
                <mat-icon [ngClass]="rla.isActive ? 'text-amber-500 group-hover:text-amber-500': 'text-gray-400 group-hover:text-gray-500'"
                          class="material-symbols-rounded flex-shrink-0 -ml-1 mr-3 h-6 w-6 ">{{navLink.icon}}</mat-icon>
                <span class="truncate"> {{navLink.label}} </span>
              </a>
            </nav>
            <div class="mt-8 flex justify-center items-center">
              <div class="inline-flex rounded-md shadow">
                <button mat-ripple type="button"
                        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-amber-600 hover:bg-amber-700 focus:outline-none ">
                  Termin buchen
                </button>
              </div>
            </div>
          </aside>
          <div class="col-span-10 px-4 py-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>











