<div class="min-h-screen">
  <div class=" relative overflow-hidden">
    <header class="absolute top-0 left-0 right-0 z-50">
      <div class="bg-transparent pt-6">
        <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
          <div class="flex items-center flex-1">
            <div class="flex items-center justify-between w-full md:w-auto">
              <a href="#">
                <span class="sr-only">Workflow</span>
                <img class="h-12 w-auto sm:h-10" src="../assets/img/logo/webqube_white.svg" alt="">
              </a>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button"
                        [matMenuTriggerFor]="menu"
                        class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white"
                        aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!-- Heroicon name: outline/menu -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden space-x-8 md:flex md:ml-10">

            </div>
          </div>

          <div class="hidden md:flex md:items-center md:space-x-8">
            <ng-container *ngFor="let item of navigationItems">
              <a *ngIf="!item.badge" [routerLink]="[item.path]"
                 class=" text-base font-medium text-white hover:text-gray-300">{{item.label}}
              </a>
              <div *ngIf="item.badge"
                   class=" text-base font-medium text-gray-400 ">{{item.label}}
                <span class="inline-flex items-center px-2.5 py-0.5 rounded text-xs font-medium bg-yellow-100 text-yellow-800 uppercase">{{item.badge}}</span>
              </div>
            </ng-container>


            <a mat-ripple href="https://webqube.notion.site"
               target="_blank"
               class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700">
              Login
            </a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <router-outlet></router-outlet>
      <div class="bg-white">
        <div
          class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
          <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            <span class="block">Bereit loszulegen?</span>
            <span class="block bg-gradient-to-r from-yellow-600 to-yellow-600 bg-clip-text text-transparent">Dann melde dich an.</span>
          </h2>
          <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
            <a routerLink="/pricing"
               class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md  text-yellow-800  hover:bg-yellow-100">
              Preise
            </a>
            <a href="#"
               class="flex items-center justify-center bg-gradient-to-r from-yellow-600 to-yellow-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-yellow-700 hover:to-yellow-700">
              Kostenlos Anmelden
            </a>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>

<mat-menu #menu="matMenu" class="w-screen sm:max-w-screen-sm px-2 space-y-1">
  <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Product</a>
  <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-900 hover:bg-gray-50">Product</a>
</mat-menu>
