<div>scrumboard works</div>
<!--<div *ngIf="board$ | async as board" class="mt-16 h-full w-full overflow-hidden" fxLayout="column">-->

<!--  <div class="py-8 flex justify-between items-center">-->
<!--    <h2 class="text-2xl font-bold text-gray-700 m-0">{{board.label}}</h2>-->
<!--    <button *ngIf="!board.paid" mat-ripple (click)="payMilestone()" type="button"-->
<!--            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-amber-600 hover:bg-amber-700 focus:outline-none ">-->
<!--      <mat-icon class="material-icons-round mr-3">flag</mat-icon>-->
<!--      Freigabe erteilen-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="min-h-0 w-full grid grid-cols-3 overflow-scroll relative"-->
<!--       fxFlex="auto"-->
<!--       fxLayout="row"-->
<!--       fxLayoutAlign="start start"-->
<!--       fxLayoutGap="24px">-->

<!--    &lt;!&ndash;    Columns &ndash;&gt;-->
<!--    <ng-container *ngIf="lists$ | async as lists">-->
<!--      <div *ngFor="let list of sortByOrder(lists); let i=index"-->
<!--           class="relative h-full rounded bg-gray-50 overflow-hidden max-h-full col-span-1 "-->
<!--           fxFlex="none"-->
<!--           fxLayout="column">-->

<!--        <div cdkDragHandle class="p-4 cursor-pointer flex justify-between items-center text-gray-600" fxFlex="none">-->
<!--          <h2 class=" text-base font-semibold m-0 select-none" fxFlex="none">{{ list.label }}</h2>-->

<!--          <button (click)="createCard(list)" mat-ripple type="button"-->
<!--                  class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-amber-600 hover:bg-amber-700 focus:outline-none">-->
<!--            Neu-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="flex-auto" >-->
<!--          <div (cdkDropListDropped)="drop($event)"-->
<!--               [cdkDropListConnectedTo]="getConnectedList(lists)"-->
<!--               [cdkDropListData]="list.cards"-->
<!--               cdkDropList-->
<!--               class="px-4 pb-4"-->
<!--               id="{{ list.id }}">-->
<!--            <div (click)="updateCard(board, list, card)"-->
<!--                 *ngFor="let card of list.cards"-->
<!--                 [cdkDragData]="card"-->
<!--                 cdkDrag-->
<!--                 class="my-2 bg-white shadow rounded-lg cursor-grab  ">-->
<!--              <div class="p-4 text-left">-->
<!--                <div *ngIf="card.labels?.length > 0" class="mb-2" fxLayout="row" fxLayoutGap="8px">-->
<!--                  <div *ngFor="let label of card.labels"-->
<!--                       [ngClass]="label.bgClass"-->
<!--                       class="label"-->
<!--                       fxFlex></div>-->
<!--                </div>-->

<!--                <h3 class="font-semibold text-xs">{{ card.title }}</h3>-->

<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngIf="i !== 0 && !board.paid"-->
<!--             [matTooltip]="'Der Meilenstein '+board.label +' muss erst freigeschaltet werden.'"-->
<!--             class="absolute w-full h-full bg-gray-300 top-0 left-0 bottom-0 right-0 opacity-50"></div>-->

<!--      </div>-->
<!--    </ng-container>-->



<!--  </div>-->
<!--</div>-->
