<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-900">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-base font-semibold text-amber-600 tracking-wide uppercase">Jobs</h2>
      <p class="mt-1 text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl">Mit uns arbeiten.</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-400">Wir befinden uns gerade erst im Aufbau, suchen aber sicher früher oder später nach Verstärkung. Daher ist hier gerade noch nicht so viel los. </p>
    </div>
  </div>
</div>

<div class="bg-gray-900">
  <div class="max-w-7xl mx-auto  px-4  sm:px-6 lg:px-8">
    <div class="text-center">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
  </div>
</div>

