<div class="hidden sm:block min-h-screen w-screen absolute bg-gray-900 ">
  <ng-particles id="tsparticles" url="./assets/particles.json"></ng-particles>
</div>

<div class=" bg-gray-900 sm:bg-transparent  relative min-h-screen flex items-center pt-10  sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden z-10">
  <div class="mt-16 m-auto max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <div
        class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
        <div class="lg:py-24">

          <h1
            class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
            <span class="animate__animated animate__fadeIn block">Wir kreieren</span>
            <span class="animate__animated animate__lightSpeedInRight block text-yellow-500">superschnelle</span>
            <span class="animate__animated animate__lightSpeedInRight  uppercase block text-yellow-500">webseiten</span>
          </h1>
          <p class="animate__animated animate__fadeInUp animate__delay-1s mt-3 text-base text-gray-400 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
            Erhöhe deine Reichweite und die Verbundenheit zu deinen Nutzern mit einer Webseite, die deine Nutzer
            lieben, ohne dass du dich darum kümmern musst.
          </p>
          <div class="animate__animated animate__fadeInUp animate__delay-2s mt-10 sm:mt-12">
            <div class=" grid grid-cols-1 sm:grid-cols-2 gap-4  mt-3 sm:mt-0  ">
              <button mat-ripple type="button" (click)="openDialog()"
                      class="block w-full py-3 px-4 rounded-md shadow bg-yellow-500 text-white font-medium hover:bg-yellow-600 focus:outline-none ">
                Konstenlos Anmelden
              </button>
              <button mat-ripple type="button" routerLink="/pricing"
                      class="block w-full py-3 px-4 rounded-md shadow bg-gray-500 text-white font-medium hover:bg-gray-600 focus:outline-none ">
                Preise
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:block mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
        <div class="  mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
          <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
          <img class="animate__animated animate__lightSpeedInRight w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
               src="./assets/img/Illustration.svg" alt="">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="relative bg-white py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base font-semibold tracking-wider text-yellow-600 uppercase">fast wie von allein</h2>
    <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      Alles was du für eine gelungene Webseite brauchst
    </p>
    <p class=" mt-5 max-w-prose mx-auto text-xl text-gray-500">
      Keine Zeit deine Webseite zu verwalten oder sogar selbst zu gestalten? Kein Problem. Das bekommst du von uns.
    </p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
                        <!-- Heroicon name: outline/cloud-upload -->
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Design</h3>
              <p class="mt-5 text-base text-gray-500">
                Mit Webdesignern erarbeiten wir ein Konzept, dass erst in die Umsetzung geht, wenn es dich umhaut!
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Sicheres Hosting</h3>
              <p class="mt-5 text-base text-gray-500">
                Wir verwalten für dich deine Domain und den Ort wo deine Webseite online geht.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
                        <!-- Heroicon name: outline/refresh -->
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Content Management</h3>
              <p class="mt-5 text-base text-gray-500">
                Auf Wunsch verwalten wir die Inhalte auf deiner Webseite und nehmen Änderungen vor. Du aber bleibst der
                Besitzer.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Entwicklung</h3>
              <p class="mt-5 text-base text-gray-500">
                Wir setzen der Fantansie keine Grenzen. Wir passen bestehendes an oder entwickeln es neu.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
                        <!-- Heroicon name: outline/cog -->
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Copywriting</h3>
              <p class="mt-5 text-base text-gray-500">
                Wir schlagen dir konkrete Texte vor, die kurz und prägnant die Aufmerksamkeit vertiefen.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                      <span
                        class="inline-flex items-center justify-center p-3 bg-gradient-to-r from-yellow-500 to-yellow-600 rounded-md shadow-lg">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
     stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/>
</svg>
                      </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Daten Sicherheit</h3>
              <p class="mt-5 text-base text-gray-500">
                Wir sichern für dich deine Daten, damit wir immer wieder zu einem Punkt zurückkehren können.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-gradient-to-r from-yellow-800 to-yellow-700">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white tracking-tight">
      Wie wir arbeiten
    </h2>
    <p class="mt-4 max-w-3xl text-lg text-yellow-50">
      Webqube ist ein umfassender Service, der alle Kernbestandteile einer erfolgreichen Webseite für dich abwickelt.
    </p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
                <!-- Heroicon name: outline/inbox -->

                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 3l-6 6m0 0V4m0 5h5M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">1. One-Hour-Call</h3>
          <p class="mt-2 text-base text-yellow-50">
            Vereinbare einen unverbindlichen Termin und lass uns über dein Business und deinen Bedarf sprechen.
          </p>
        </div>
      </div>

      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
                <!-- Heroicon name: outline/users -->

                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">2. Case Study</h3>
          <p class="mt-2 text-base text-yellow-50">
            Basierend auf deinem Input beginnen wir mit der Arbeit. Es werden Designs, Texte und ein struktureller
            Aufbau der Webseite angefertigt.
          </p>
        </div>
      </div>

      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">

                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">3. Implementation</h3>
          <p class="mt-2 text-base text-yellow-50">
            Nach deiner Freigabe starten wir mit der Umsetzung und informieren dich laufend über den aktuellen Stand.
          </p>
        </div>

      </div>

      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
                <!-- Heroicon name: outline/reply -->
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">4. Refinement</h3>
          <p class="mt-2 text-base text-yellow-50">
            In wiederkehrenden Terminen verarbeiten wir dein Feedback und passen die Webseite an.
          </p>
        </div>
      </div>

      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
                <!-- Heroicon name: outline/pencil-alt -->
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white transform rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">5. Ship</h3>
          <p class="mt-2 text-base text-yellow-50">
            Nach der Finalisierung übergeben wir dir die Webseite in deine Obhut oder nehmen sie, wenn von dir
            gewünscht, in unsere.
          </p>
        </div>
      </div>

      <div class="border border-yellow-600 p-4 rounded-md">
        <div>
              <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white bg-opacity-10">
                <!-- Heroicon name: outline/document-report -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
</svg>
              </span>
        </div>
        <div class="mt-6">
          <h3 class="text-lg font-medium text-white">6. Focus</h3>
          <p class="mt-2 text-base text-yellow-50">
            Ab hier kannst du dich wieder zu 100% auf dein Business fokussieren und wir erledigen den Rest.
          </p>
        </div>
      </div>

    </div>
    <!-- This example requires Tailwind CSS v2.0+ -->

    <div class="text-center mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 ">
      <h2 class="text-base font-semibold text-yellow-50 tracking-wide uppercase">Agile Arbeitsweise</h2>
      <p class="mt-1 text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl">Du hast die volle Kontrolle.</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-yellow-50">Nach Anmeldung erhältst du Zugang zu unserem Ticketsystem, wo du neue Wünsche und Änderungen eintragen kannst.</p>
    </div>


  </div>
</div>


