<div class="max-w-7xl mx-auto text-left py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">{{headline}}</span>
      <span class="block mt-4 text-lg font-medium text-gray-500">{{subheadline}}</span>
    </h2>
    <ng-container *ngIf="plan$ | async as plan">
      <button [disabled]="isSavingTier" (click)="initProject(plan)"
              class="w-48 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700">
        <span *ngIf="!isSavingTier">Auswählen</span>
        <mat-spinner customSpinner color="#FEFCFA" *ngIf="isSavingTier" [diameter]="20"></mat-spinner>
      </button>
    </ng-container>
  </div>


  <div *ngIf="bookCall" class="mt-8 flex justify-center items-center">
    <div class="inline-flex rounded-md shadow">
      <a href="https://calendly.com/webqube/30min" target="_blank"
         class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700">
        Termin buchen
      </a>
    </div>
  </div>
  <h2 *ngIf="bookCall" class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
    <span class="block mt-8 text-lg font-medium text-gray-500">oder gleich loslegen.
      <br>
      Wähle dazu einfach einen Plan aus.
    </span>
  </h2>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <fieldset>
    <div
      class="relative mt-8 grid grid-cols-1 gap-y-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3  sm:gap-x-4">
      <!--
        Checked: "border-transparent", Not Checked: "border-gray-300"
        Active: "ring-2 ring-amber-500"
      -->
      <ng-container *ngFor="let plan of plans">
        <label *ngIf="plan.published"
               [ngClass]="isSelected(plan) ? 'border-transparent ring-2 ring-amber-500':'border-gray-300'"
               class="relative bg-white border  rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none">
          <input [value]="isSelected(plan)" type="radio" name="project-type" value="Newsletter"
                 class="sr-only"
                 (click)="onSelectTier(plan)"
                 aria-labelledby="project-type-0-label"
                 aria-describedby="project-type-0-description-0 project-type-0-description-1">
          <div class="flex-1 flex">
            <div class="flex flex-col relative h-32">
              <span id="project-type-0-label" class="block text-left text-sm font-semibold text-gray-800">
                {{plan.label}}
              </span>
              <span id="project-type-0-description-0"
                    class="mt-1 text-left flex items-center text-sm text-gray-500">
                {{plan.description}}
              </span>
              <span class="absolute bottom-0 text-lg font-semibold text-gray-900">
                {{plan.price}}€ /Projekt
              </span>
            </div>
          </div>
          <mat-icon [ngClass]="isSelected(plan) ? '':'invisible'"
                    class="material-symbols-rounded h-5 w-5 text-amber-600">
            task_alt
          </mat-icon>
          <div [ngClass]="isSelected(plan) ? 'border border-amber-500':'border-2 border-transparent'"
               class="absolute -inset-px rounded-lg border-2 pointer-events-none"
               aria-hidden="true"></div>
        </label>
      </ng-container>

      <div *ngIf="isSavingTier"
           class="absolute top-0 left-0 right-0 bottom-0 bg-gray-50 opacity-30 rounded-lg"></div>
    </div>
  </fieldset>

  <div *ngIf="plan$ |async as plan ">
    <div class="flex items-center mt-4">
      <h4 class="flex-shrink-0 pr-4 bg-white text-sm tracking-wider font-semibold uppercase text-amber-600">
        Das ist im Paket enthalten</h4>
      <div class="flex-1 border-t-2 border-gray-200"></div>
    </div>
    <ul role="list" class="mt-8 space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5">
      <li *ngFor="let benefit of plan.shortFeatures" class="flex items-start lg:col-span-1">
        <div class="flex-shrink-0">
          <mat-icon class="text-green-500 material-symbols-rounded">task_alt</mat-icon>
        </div>
        <p class="ml-3 text-sm text-gray-700">{{benefit}}</p>
      </li>
    </ul>
    <button routerLink="/pricing" class="mt-4 btn btn-link text-base text-amber-600 hover:text-amber-600 normal-case font-medium pl-0"><span>Alle Features anzeigen</span></button>
  </div>


</div>
